@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.row {
  display: flex;
}

.column-20 {
  flex: 20%;
}

.column-80 {
  flex: 80%;
}

.column-50 {
  flex: 50%;
}

.column {
  flex: auto;
}

.row > .column {
  height: 100%;
}

.column-content {
  flex: max-content;
}

html {
  font-family: "Roboto", sans-serif;
  margin: 0%;
}
html body {
  margin: 0;
}

#site-content {
  padding-left: 20%;
  padding-right: 20%;
}

#background {
  z-index: -1;
  margin: 0%;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 549px 597px #FFF , 896px 899px #FFF , 576px 1969px #FFF , 304px 1728px #FFF , 1896px 1662px #FFF , 461px 470px #FFF , 1336px 1880px #FFF , 1888px 755px #FFF , 1549px 488px #FFF , 1688px 1614px #FFF , 733px 885px #FFF , 360px 154px #FFF , 1224px 1496px #FFF , 1556px 380px #FFF , 82px 1346px #FFF , 1723px 716px #FFF , 312px 652px #FFF , 1305px 1808px #FFF , 1461px 1310px #FFF , 137px 12px #FFF , 688px 320px #FFF , 578px 1233px #FFF , 303px 1075px #FFF , 255px 493px #FFF , 368px 1316px #FFF , 1158px 1523px #FFF , 1958px 1328px #FFF , 1778px 556px #FFF , 620px 886px #FFF , 423px 830px #FFF , 1838px 1549px #FFF , 1871px 979px #FFF , 696px 690px #FFF , 1428px 866px #FFF , 292px 868px #FFF , 126px 1212px #FFF , 947px 1941px #FFF , 558px 1375px #FFF , 553px 1867px #FFF , 1410px 677px #FFF , 1314px 724px #FFF , 728px 1287px #FFF , 1804px 357px #FFF , 711px 239px #FFF , 451px 1011px #FFF , 1219px 211px #FFF , 1164px 119px #FFF , 971px 1667px #FFF , 1830px 329px #FFF , 805px 1229px #FFF , 1576px 195px #FFF , 1629px 560px #FFF , 595px 1216px #FFF , 460px 941px #FFF , 611px 1317px #FFF , 1979px 1015px #FFF , 724px 77px #FFF , 1231px 255px #FFF , 506px 1235px #FFF , 450px 1453px #FFF , 1805px 1534px #FFF , 1026px 808px #FFF , 1306px 1735px #FFF , 1356px 567px #FFF , 334px 951px #FFF , 1290px 354px #FFF , 791px 1477px #FFF , 111px 83px #FFF , 998px 703px #FFF , 1475px 1796px #FFF , 1089px 831px #FFF , 1313px 1226px #FFF , 117px 1441px #FFF , 1549px 308px #FFF , 1270px 884px #FFF , 1528px 1809px #FFF , 1370px 1793px #FFF , 504px 1945px #FFF , 985px 996px #FFF , 1699px 1059px #FFF , 1901px 184px #FFF , 463px 817px #FFF , 1271px 1249px #FFF , 16px 1248px #FFF , 1873px 311px #FFF , 702px 1643px #FFF , 1542px 79px #FFF , 764px 1960px #FFF , 1621px 1462px #FFF , 1363px 978px #FFF , 841px 1663px #FFF , 31px 1374px #FFF , 1876px 700px #FFF , 1023px 1304px #FFF , 104px 1718px #FFF , 542px 1678px #FFF , 1124px 1562px #FFF , 1557px 710px #FFF , 748px 1263px #FFF , 1000px 1856px #FFF , 1134px 272px #FFF , 433px 1268px #FFF , 171px 1840px #FFF , 1076px 1205px #FFF , 519px 1701px #FFF , 650px 250px #FFF , 1778px 1921px #FFF , 779px 1166px #FFF , 1151px 331px #FFF , 1903px 221px #FFF , 861px 1745px #FFF , 537px 38px #FFF , 862px 164px #FFF , 1215px 196px #FFF , 1139px 525px #FFF , 714px 382px #FFF , 1760px 534px #FFF , 90px 129px #FFF , 1314px 1486px #FFF , 599px 1967px #FFF , 81px 1981px #FFF , 1048px 1459px #FFF , 1688px 768px #FFF , 1487px 781px #FFF , 148px 811px #FFF , 1149px 727px #FFF , 1114px 551px #FFF , 1712px 1487px #FFF , 1430px 1720px #FFF , 1783px 1924px #FFF , 554px 260px #FFF , 824px 396px #FFF , 476px 1129px #FFF , 637px 1372px #FFF , 55px 73px #FFF , 1406px 578px #FFF , 1884px 146px #FFF , 138px 185px #FFF , 934px 876px #FFF , 1820px 1118px #FFF , 924px 259px #FFF , 161px 21px #FFF , 37px 1759px #FFF , 401px 1149px #FFF , 1637px 1843px #FFF , 1753px 791px #FFF , 712px 1473px #FFF , 700px 424px #FFF , 1729px 956px #FFF , 2000px 1876px #FFF , 1380px 117px #FFF , 1793px 223px #FFF , 1007px 132px #FFF , 875px 1347px #FFF , 712px 392px #FFF , 838px 359px #FFF , 428px 258px #FFF , 1869px 1123px #FFF , 1599px 1959px #FFF , 1469px 1179px #FFF , 1145px 335px #FFF , 1903px 1121px #FFF , 1177px 1491px #FFF , 1519px 1098px #FFF , 1595px 865px #FFF , 248px 198px #FFF , 501px 1151px #FFF , 18px 1420px #FFF , 175px 992px #FFF , 704px 88px #FFF , 1563px 4px #FFF , 892px 1044px #FFF , 1879px 1389px #FFF , 1528px 1301px #FFF , 887px 798px #FFF , 1969px 85px #FFF , 487px 1106px #FFF , 389px 172px #FFF , 1218px 351px #FFF , 1773px 20px #FFF , 925px 814px #FFF , 593px 537px #FFF , 1524px 559px #FFF , 1121px 615px #FFF , 148px 374px #FFF , 1385px 188px #FFF , 1521px 1862px #FFF , 1957px 1364px #FFF , 709px 627px #FFF , 1350px 113px #FFF , 1282px 1943px #FFF , 1265px 419px #FFF , 1412px 819px #FFF , 1411px 232px #FFF , 1863px 467px #FFF , 1174px 1607px #FFF , 810px 411px #FFF , 1644px 1760px #FFF , 1270px 1948px #FFF , 1395px 1237px #FFF , 741px 1539px #FFF , 1101px 1270px #FFF , 617px 322px #FFF , 363px 457px #FFF , 956px 1010px #FFF , 1082px 1681px #FFF , 810px 1933px #FFF , 1384px 1179px #FFF , 8px 1146px #FFF , 1728px 1780px #FFF , 411px 531px #FFF , 571px 1047px #FFF , 866px 36px #FFF , 305px 1079px #FFF , 1252px 309px #FFF , 867px 861px #FFF , 516px 1532px #FFF , 1354px 325px #FFF , 898px 1512px #FFF , 1166px 173px #FFF , 659px 1221px #FFF , 894px 1112px #FFF , 758px 1534px #FFF , 504px 45px #FFF , 1219px 355px #FFF , 1620px 151px #FFF , 15px 58px #FFF , 750px 596px #FFF , 1386px 283px #FFF , 1250px 607px #FFF , 1556px 63px #FFF , 589px 1705px #FFF , 209px 969px #FFF , 12px 1195px #FFF , 1069px 610px #FFF , 594px 845px #FFF , 1950px 550px #FFF , 1220px 1200px #FFF , 18px 298px #FFF , 555px 1920px #FFF , 1925px 1999px #FFF , 1492px 1392px #FFF , 1360px 66px #FFF , 730px 1676px #FFF , 1753px 793px #FFF , 1311px 1052px #FFF , 917px 1374px #FFF , 1264px 1779px #FFF , 1858px 962px #FFF , 1418px 1528px #FFF , 420px 1771px #FFF , 78px 653px #FFF , 149px 1750px #FFF , 1802px 1081px #FFF , 1730px 69px #FFF , 816px 73px #FFF , 1682px 591px #FFF , 1675px 1618px #FFF , 923px 1667px #FFF , 940px 174px #FFF , 1034px 549px #FFF , 810px 60px #FFF , 1610px 334px #FFF , 917px 546px #FFF , 955px 1648px #FFF , 1715px 677px #FFF , 1px 1951px #FFF , 150px 1794px #FFF , 157px 1401px #FFF , 1618px 990px #FFF , 1334px 1342px #FFF , 291px 1800px #FFF , 1390px 1588px #FFF , 867px 1647px #FFF , 878px 293px #FFF , 1176px 1455px #FFF , 710px 1310px #FFF , 1051px 1094px #FFF , 49px 704px #FFF , 1117px 682px #FFF , 1365px 844px #FFF , 661px 642px #FFF , 1730px 933px #FFF , 146px 1473px #FFF , 550px 1497px #FFF , 1208px 1671px #FFF , 440px 1012px #FFF , 832px 1897px #FFF , 344px 1629px #FFF , 849px 544px #FFF , 1077px 1841px #FFF , 587px 95px #FFF , 638px 1659px #FFF , 299px 986px #FFF , 545px 211px #FFF , 1645px 487px #FFF , 1399px 1318px #FFF , 1437px 249px #FFF , 1306px 1905px #FFF , 280px 766px #FFF , 272px 1841px #FFF , 373px 1466px #FFF , 773px 276px #FFF , 1660px 1034px #FFF , 735px 943px #FFF , 91px 606px #FFF , 960px 1229px #FFF , 1838px 1909px #FFF , 406px 1139px #FFF , 15px 58px #FFF , 207px 1503px #FFF , 1084px 1392px #FFF , 1330px 1556px #FFF , 1970px 1030px #FFF , 355px 495px #FFF , 970px 1797px #FFF , 853px 1561px #FFF , 245px 1228px #FFF , 1144px 56px #FFF , 1377px 156px #FFF , 1754px 1956px #FFF , 246px 992px #FFF , 826px 1753px #FFF , 205px 1142px #FFF , 1594px 1416px #FFF , 1362px 355px #FFF , 1733px 605px #FFF , 525px 627px #FFF , 1057px 1746px #FFF , 933px 1580px #FFF , 1223px 1515px #FFF , 584px 529px #FFF , 28px 1302px #FFF , 943px 1234px #FFF , 1725px 1074px #FFF , 1676px 488px #FFF , 1314px 746px #FFF , 1201px 294px #FFF , 814px 345px #FFF , 1962px 830px #FFF , 459px 1235px #FFF , 444px 1998px #FFF , 821px 1735px #FFF , 756px 1186px #FFF , 811px 1377px #FFF , 1708px 1591px #FFF , 484px 1945px #FFF , 906px 1495px #FFF , 1871px 155px #FFF , 394px 448px #FFF , 330px 630px #FFF , 1991px 1487px #FFF , 1243px 1707px #FFF , 1789px 184px #FFF , 320px 1099px #FFF , 1218px 1252px #FFF , 1221px 921px #FFF , 534px 872px #FFF , 1208px 938px #FFF , 43px 1415px #FFF , 109px 1794px #FFF , 1053px 980px #FFF , 795px 719px #FFF , 197px 399px #FFF , 1741px 48px #FFF , 1455px 700px #FFF , 277px 1737px #FFF , 667px 751px #FFF , 1632px 79px #FFF , 532px 842px #FFF , 508px 1547px #FFF , 1245px 2000px #FFF , 63px 1834px #FFF , 19px 493px #FFF , 350px 195px #FFF , 623px 1809px #FFF , 425px 1258px #FFF , 1962px 1434px #FFF , 1152px 1321px #FFF , 764px 136px #FFF , 1555px 1923px #FFF , 1960px 1716px #FFF , 1876px 915px #FFF , 1486px 954px #FFF , 19px 1141px #FFF , 399px 1743px #FFF , 1889px 240px #FFF , 1088px 798px #FFF , 845px 605px #FFF , 1772px 1203px #FFF , 1690px 1240px #FFF , 1071px 1202px #FFF , 1168px 503px #FFF , 1173px 1202px #FFF , 1208px 1590px #FFF , 719px 542px #FFF , 1388px 1256px #FFF , 1505px 1102px #FFF , 1165px 1281px #FFF , 816px 1362px #FFF , 1372px 1298px #FFF , 145px 380px #FFF , 1780px 70px #FFF , 298px 1476px #FFF , 1606px 1128px #FFF , 655px 1595px #FFF , 1345px 1858px #FFF , 1783px 304px #FFF , 757px 1286px #FFF , 378px 1996px #FFF , 1509px 480px #FFF , 154px 1731px #FFF , 587px 665px #FFF , 1570px 1148px #FFF , 1359px 1177px #FFF , 1494px 252px #FFF , 370px 71px #FFF , 1952px 409px #FFF , 1946px 995px #FFF , 1019px 1418px #FFF , 1988px 1377px #FFF , 854px 528px #FFF , 1989px 764px #FFF , 1093px 774px #FFF , 1141px 1073px #FFF , 303px 1275px #FFF , 1281px 1170px #FFF , 1208px 355px #FFF , 90px 1731px #FFF , 790px 812px #FFF , 1320px 79px #FFF , 444px 1316px #FFF , 1627px 953px #FFF , 101px 4px #FFF , 1259px 1482px #FFF , 1076px 1545px #FFF , 1661px 894px #FFF , 1820px 1020px #FFF , 643px 1760px #FFF , 1629px 1289px #FFF , 297px 809px #FFF , 1659px 1522px #FFF , 370px 384px #FFF , 854px 1497px #FFF , 939px 1496px #FFF , 1415px 797px #FFF , 364px 1368px #FFF , 201px 1984px #FFF , 922px 1541px #FFF , 1083px 1967px #FFF , 74px 864px #FFF , 1393px 882px #FFF , 506px 107px #FFF , 1304px 1293px #FFF , 314px 1447px #FFF , 46px 890px #FFF , 1771px 1898px #FFF , 766px 1955px #FFF , 92px 882px #FFF , 743px 997px #FFF , 400px 1070px #FFF , 1276px 721px #FFF , 774px 428px #FFF , 1442px 184px #FFF , 1257px 1321px #FFF , 623px 793px #FFF , 1784px 349px #FFF , 885px 1338px #FFF , 907px 525px #FFF , 1015px 923px #FFF , 359px 1051px #FFF , 1967px 1949px #FFF , 1099px 1141px #FFF , 841px 1398px #FFF , 197px 1646px #FFF , 757px 1762px #FFF , 1964px 262px #FFF , 239px 1516px #FFF , 1926px 1259px #FFF , 1478px 112px #FFF , 967px 477px #FFF , 676px 1715px #FFF , 484px 376px #FFF , 1842px 42px #FFF , 286px 1828px #FFF , 277px 697px #FFF , 1132px 1020px #FFF , 80px 635px #FFF , 1027px 1939px #FFF , 834px 1953px #FFF , 1795px 1857px #FFF , 135px 90px #FFF , 1742px 18px #FFF , 1052px 644px #FFF , 940px 330px #FFF , 1167px 817px #FFF , 905px 878px #FFF , 914px 845px #FFF , 1px 989px #FFF , 814px 23px #FFF , 1078px 780px #FFF , 304px 347px #FFF , 880px 342px #FFF , 601px 1578px #FFF , 675px 1632px #FFF , 1576px 784px #FFF , 1210px 1696px #FFF , 1020px 170px #FFF , 240px 462px #FFF , 309px 459px #FFF , 1414px 1316px #FFF , 312px 693px #FFF , 1794px 605px #FFF , 1338px 248px #FFF , 1232px 376px #FFF , 209px 1583px #FFF , 168px 1583px #FFF , 1968px 1468px #FFF , 423px 518px #FFF , 1093px 36px #FFF , 1169px 1753px #FFF , 1034px 1695px #FFF , 441px 676px #FFF , 1524px 1337px #FFF , 1182px 1602px #FFF , 1944px 1939px #FFF , 221px 1928px #FFF , 865px 1229px #FFF , 1075px 64px #FFF , 1348px 1943px #FFF , 582px 1790px #FFF , 988px 1080px #FFF , 902px 251px #FFF , 1524px 1274px #FFF , 460px 1897px #FFF , 837px 943px #FFF , 1450px 731px #FFF , 96px 1613px #FFF , 1488px 1729px #FFF , 166px 839px #FFF , 1801px 113px #FFF , 1139px 1830px #FFF , 1211px 1802px #FFF , 541px 1054px #FFF , 1764px 1694px #FFF , 533px 110px #FFF , 654px 711px #FFF , 1596px 1322px #FFF , 804px 1749px #FFF , 1901px 1373px #FFF , 31px 1121px #FFF , 1521px 475px #FFF , 290px 445px #FFF , 934px 1770px #FFF , 1369px 980px #FFF , 616px 1897px #FFF , 90px 1646px #FFF , 847px 498px #FFF , 538px 1573px #FFF , 57px 743px #FFF , 788px 433px #FFF , 448px 1129px #FFF , 265px 101px #FFF , 172px 1689px #FFF , 906px 1461px #FFF , 627px 603px #FFF , 1578px 1956px #FFF , 846px 1004px #FFF , 1479px 1677px #FFF , 1054px 1638px #FFF , 926px 1886px #FFF , 1640px 901px #FFF , 803px 709px #FFF , 1682px 621px #FFF , 325px 633px #FFF , 987px 866px #FFF , 156px 168px #FFF , 1859px 1331px #FFF , 950px 1952px #FFF , 420px 1670px #FFF , 844px 257px #FFF , 1301px 1170px #FFF , 1089px 1254px #FFF , 1522px 1950px #FFF , 1564px 1518px #FFF , 622px 1056px #FFF , 66px 1840px #FFF , 723px 1316px #FFF , 1930px 1921px #FFF , 635px 1032px #FFF , 1140px 1490px #FFF , 1841px 601px #FFF , 918px 1134px #FFF , 1114px 36px #FFF , 1081px 413px #FFF , 495px 1300px #FFF , 1790px 1816px #FFF , 834px 349px #FFF , 102px 1966px #FFF , 51px 278px #FFF , 834px 1172px #FFF , 1104px 816px #FFF , 258px 1551px #FFF , 804px 395px #FFF , 277px 877px #FFF , 797px 967px #FFF , 225px 641px #FFF , 1135px 1490px #FFF , 282px 1630px #FFF , 1259px 890px #FFF , 1407px 41px #FFF , 1705px 1513px #FFF , 779px 280px #FFF , 1534px 1832px #FFF , 1395px 1493px #FFF , 1299px 651px #FFF , 1220px 480px #FFF , 283px 972px #FFF , 1718px 384px #FFF , 458px 204px #FFF , 1861px 1787px #FFF , 1742px 408px #FFF , 1353px 331px #FFF , 93px 110px #FFF , 869px 1154px #FFF , 1204px 1991px #FFF , 1996px 357px #FFF , 1079px 880px #FFF , 456px 382px #FFF , 103px 28px #FFF , 555px 667px #FFF , 1588px 585px #FFF , 295px 27px #FFF , 1716px 667px #FFF , 1083px 1587px #FFF , 1505px 1142px #FFF , 873px 973px #FFF , 1139px 806px #FFF , 1666px 1735px #FFF , 544px 1258px #FFF , 620px 1623px #FFF , 1086px 1225px #FFF , 884px 1141px #FFF , 32px 1882px #FFF , 1554px 984px #FFF , 1608px 1915px #FFF , 1755px 1352px #FFF , 1063px 153px #FFF , 874px 961px #FFF , 1412px 467px #FFF , 3px 1741px #FFF , 92px 1498px #FFF , 1405px 1941px #FFF , 2px 1322px #FFF , 1840px 1152px #FFF , 1735px 514px #FFF , 1106px 1741px #FFF , 1931px 776px #FFF , 1617px 1651px #FFF , 172px 1861px #FFF , 631px 1757px #FFF , 38px 1144px #FFF , 1343px 493px #FFF , 980px 1342px #FFF , 1809px 876px #FFF , 1220px 1996px #FFF , 1916px 815px #FFF , 967px 1748px #FFF , 1598px 1276px #FFF , 1549px 271px #FFF , 165px 1519px #FFF , 529px 1267px #FFF , 1137px 20px #FFF , 1542px 1605px #FFF , 430px 1867px #FFF , 720px 493px #FFF , 679px 1269px #FFF , 1236px 715px #FFF , 289px 1999px #FFF , 453px 1845px #FFF , 1498px 1598px #FFF , 895px 333px #FFF , 556px 1050px #FFF , 504px 1137px #FFF , 170px 1953px #FFF , 1404px 1789px #FFF , 167px 1017px #FFF , 1676px 1186px #FFF , 726px 145px #FFF , 1725px 777px #FFF , 573px 164px #FFF , 1845px 445px #FFF , 573px 1973px #FFF , 1898px 1724px #FFF , 772px 1286px #FFF , 1949px 1461px #FFF , 156px 184px #FFF , 35px 1084px #FFF , 1241px 1366px #FFF , 964px 1402px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 549px 597px #FFF , 896px 899px #FFF , 576px 1969px #FFF , 304px 1728px #FFF , 1896px 1662px #FFF , 461px 470px #FFF , 1336px 1880px #FFF , 1888px 755px #FFF , 1549px 488px #FFF , 1688px 1614px #FFF , 733px 885px #FFF , 360px 154px #FFF , 1224px 1496px #FFF , 1556px 380px #FFF , 82px 1346px #FFF , 1723px 716px #FFF , 312px 652px #FFF , 1305px 1808px #FFF , 1461px 1310px #FFF , 137px 12px #FFF , 688px 320px #FFF , 578px 1233px #FFF , 303px 1075px #FFF , 255px 493px #FFF , 368px 1316px #FFF , 1158px 1523px #FFF , 1958px 1328px #FFF , 1778px 556px #FFF , 620px 886px #FFF , 423px 830px #FFF , 1838px 1549px #FFF , 1871px 979px #FFF , 696px 690px #FFF , 1428px 866px #FFF , 292px 868px #FFF , 126px 1212px #FFF , 947px 1941px #FFF , 558px 1375px #FFF , 553px 1867px #FFF , 1410px 677px #FFF , 1314px 724px #FFF , 728px 1287px #FFF , 1804px 357px #FFF , 711px 239px #FFF , 451px 1011px #FFF , 1219px 211px #FFF , 1164px 119px #FFF , 971px 1667px #FFF , 1830px 329px #FFF , 805px 1229px #FFF , 1576px 195px #FFF , 1629px 560px #FFF , 595px 1216px #FFF , 460px 941px #FFF , 611px 1317px #FFF , 1979px 1015px #FFF , 724px 77px #FFF , 1231px 255px #FFF , 506px 1235px #FFF , 450px 1453px #FFF , 1805px 1534px #FFF , 1026px 808px #FFF , 1306px 1735px #FFF , 1356px 567px #FFF , 334px 951px #FFF , 1290px 354px #FFF , 791px 1477px #FFF , 111px 83px #FFF , 998px 703px #FFF , 1475px 1796px #FFF , 1089px 831px #FFF , 1313px 1226px #FFF , 117px 1441px #FFF , 1549px 308px #FFF , 1270px 884px #FFF , 1528px 1809px #FFF , 1370px 1793px #FFF , 504px 1945px #FFF , 985px 996px #FFF , 1699px 1059px #FFF , 1901px 184px #FFF , 463px 817px #FFF , 1271px 1249px #FFF , 16px 1248px #FFF , 1873px 311px #FFF , 702px 1643px #FFF , 1542px 79px #FFF , 764px 1960px #FFF , 1621px 1462px #FFF , 1363px 978px #FFF , 841px 1663px #FFF , 31px 1374px #FFF , 1876px 700px #FFF , 1023px 1304px #FFF , 104px 1718px #FFF , 542px 1678px #FFF , 1124px 1562px #FFF , 1557px 710px #FFF , 748px 1263px #FFF , 1000px 1856px #FFF , 1134px 272px #FFF , 433px 1268px #FFF , 171px 1840px #FFF , 1076px 1205px #FFF , 519px 1701px #FFF , 650px 250px #FFF , 1778px 1921px #FFF , 779px 1166px #FFF , 1151px 331px #FFF , 1903px 221px #FFF , 861px 1745px #FFF , 537px 38px #FFF , 862px 164px #FFF , 1215px 196px #FFF , 1139px 525px #FFF , 714px 382px #FFF , 1760px 534px #FFF , 90px 129px #FFF , 1314px 1486px #FFF , 599px 1967px #FFF , 81px 1981px #FFF , 1048px 1459px #FFF , 1688px 768px #FFF , 1487px 781px #FFF , 148px 811px #FFF , 1149px 727px #FFF , 1114px 551px #FFF , 1712px 1487px #FFF , 1430px 1720px #FFF , 1783px 1924px #FFF , 554px 260px #FFF , 824px 396px #FFF , 476px 1129px #FFF , 637px 1372px #FFF , 55px 73px #FFF , 1406px 578px #FFF , 1884px 146px #FFF , 138px 185px #FFF , 934px 876px #FFF , 1820px 1118px #FFF , 924px 259px #FFF , 161px 21px #FFF , 37px 1759px #FFF , 401px 1149px #FFF , 1637px 1843px #FFF , 1753px 791px #FFF , 712px 1473px #FFF , 700px 424px #FFF , 1729px 956px #FFF , 2000px 1876px #FFF , 1380px 117px #FFF , 1793px 223px #FFF , 1007px 132px #FFF , 875px 1347px #FFF , 712px 392px #FFF , 838px 359px #FFF , 428px 258px #FFF , 1869px 1123px #FFF , 1599px 1959px #FFF , 1469px 1179px #FFF , 1145px 335px #FFF , 1903px 1121px #FFF , 1177px 1491px #FFF , 1519px 1098px #FFF , 1595px 865px #FFF , 248px 198px #FFF , 501px 1151px #FFF , 18px 1420px #FFF , 175px 992px #FFF , 704px 88px #FFF , 1563px 4px #FFF , 892px 1044px #FFF , 1879px 1389px #FFF , 1528px 1301px #FFF , 887px 798px #FFF , 1969px 85px #FFF , 487px 1106px #FFF , 389px 172px #FFF , 1218px 351px #FFF , 1773px 20px #FFF , 925px 814px #FFF , 593px 537px #FFF , 1524px 559px #FFF , 1121px 615px #FFF , 148px 374px #FFF , 1385px 188px #FFF , 1521px 1862px #FFF , 1957px 1364px #FFF , 709px 627px #FFF , 1350px 113px #FFF , 1282px 1943px #FFF , 1265px 419px #FFF , 1412px 819px #FFF , 1411px 232px #FFF , 1863px 467px #FFF , 1174px 1607px #FFF , 810px 411px #FFF , 1644px 1760px #FFF , 1270px 1948px #FFF , 1395px 1237px #FFF , 741px 1539px #FFF , 1101px 1270px #FFF , 617px 322px #FFF , 363px 457px #FFF , 956px 1010px #FFF , 1082px 1681px #FFF , 810px 1933px #FFF , 1384px 1179px #FFF , 8px 1146px #FFF , 1728px 1780px #FFF , 411px 531px #FFF , 571px 1047px #FFF , 866px 36px #FFF , 305px 1079px #FFF , 1252px 309px #FFF , 867px 861px #FFF , 516px 1532px #FFF , 1354px 325px #FFF , 898px 1512px #FFF , 1166px 173px #FFF , 659px 1221px #FFF , 894px 1112px #FFF , 758px 1534px #FFF , 504px 45px #FFF , 1219px 355px #FFF , 1620px 151px #FFF , 15px 58px #FFF , 750px 596px #FFF , 1386px 283px #FFF , 1250px 607px #FFF , 1556px 63px #FFF , 589px 1705px #FFF , 209px 969px #FFF , 12px 1195px #FFF , 1069px 610px #FFF , 594px 845px #FFF , 1950px 550px #FFF , 1220px 1200px #FFF , 18px 298px #FFF , 555px 1920px #FFF , 1925px 1999px #FFF , 1492px 1392px #FFF , 1360px 66px #FFF , 730px 1676px #FFF , 1753px 793px #FFF , 1311px 1052px #FFF , 917px 1374px #FFF , 1264px 1779px #FFF , 1858px 962px #FFF , 1418px 1528px #FFF , 420px 1771px #FFF , 78px 653px #FFF , 149px 1750px #FFF , 1802px 1081px #FFF , 1730px 69px #FFF , 816px 73px #FFF , 1682px 591px #FFF , 1675px 1618px #FFF , 923px 1667px #FFF , 940px 174px #FFF , 1034px 549px #FFF , 810px 60px #FFF , 1610px 334px #FFF , 917px 546px #FFF , 955px 1648px #FFF , 1715px 677px #FFF , 1px 1951px #FFF , 150px 1794px #FFF , 157px 1401px #FFF , 1618px 990px #FFF , 1334px 1342px #FFF , 291px 1800px #FFF , 1390px 1588px #FFF , 867px 1647px #FFF , 878px 293px #FFF , 1176px 1455px #FFF , 710px 1310px #FFF , 1051px 1094px #FFF , 49px 704px #FFF , 1117px 682px #FFF , 1365px 844px #FFF , 661px 642px #FFF , 1730px 933px #FFF , 146px 1473px #FFF , 550px 1497px #FFF , 1208px 1671px #FFF , 440px 1012px #FFF , 832px 1897px #FFF , 344px 1629px #FFF , 849px 544px #FFF , 1077px 1841px #FFF , 587px 95px #FFF , 638px 1659px #FFF , 299px 986px #FFF , 545px 211px #FFF , 1645px 487px #FFF , 1399px 1318px #FFF , 1437px 249px #FFF , 1306px 1905px #FFF , 280px 766px #FFF , 272px 1841px #FFF , 373px 1466px #FFF , 773px 276px #FFF , 1660px 1034px #FFF , 735px 943px #FFF , 91px 606px #FFF , 960px 1229px #FFF , 1838px 1909px #FFF , 406px 1139px #FFF , 15px 58px #FFF , 207px 1503px #FFF , 1084px 1392px #FFF , 1330px 1556px #FFF , 1970px 1030px #FFF , 355px 495px #FFF , 970px 1797px #FFF , 853px 1561px #FFF , 245px 1228px #FFF , 1144px 56px #FFF , 1377px 156px #FFF , 1754px 1956px #FFF , 246px 992px #FFF , 826px 1753px #FFF , 205px 1142px #FFF , 1594px 1416px #FFF , 1362px 355px #FFF , 1733px 605px #FFF , 525px 627px #FFF , 1057px 1746px #FFF , 933px 1580px #FFF , 1223px 1515px #FFF , 584px 529px #FFF , 28px 1302px #FFF , 943px 1234px #FFF , 1725px 1074px #FFF , 1676px 488px #FFF , 1314px 746px #FFF , 1201px 294px #FFF , 814px 345px #FFF , 1962px 830px #FFF , 459px 1235px #FFF , 444px 1998px #FFF , 821px 1735px #FFF , 756px 1186px #FFF , 811px 1377px #FFF , 1708px 1591px #FFF , 484px 1945px #FFF , 906px 1495px #FFF , 1871px 155px #FFF , 394px 448px #FFF , 330px 630px #FFF , 1991px 1487px #FFF , 1243px 1707px #FFF , 1789px 184px #FFF , 320px 1099px #FFF , 1218px 1252px #FFF , 1221px 921px #FFF , 534px 872px #FFF , 1208px 938px #FFF , 43px 1415px #FFF , 109px 1794px #FFF , 1053px 980px #FFF , 795px 719px #FFF , 197px 399px #FFF , 1741px 48px #FFF , 1455px 700px #FFF , 277px 1737px #FFF , 667px 751px #FFF , 1632px 79px #FFF , 532px 842px #FFF , 508px 1547px #FFF , 1245px 2000px #FFF , 63px 1834px #FFF , 19px 493px #FFF , 350px 195px #FFF , 623px 1809px #FFF , 425px 1258px #FFF , 1962px 1434px #FFF , 1152px 1321px #FFF , 764px 136px #FFF , 1555px 1923px #FFF , 1960px 1716px #FFF , 1876px 915px #FFF , 1486px 954px #FFF , 19px 1141px #FFF , 399px 1743px #FFF , 1889px 240px #FFF , 1088px 798px #FFF , 845px 605px #FFF , 1772px 1203px #FFF , 1690px 1240px #FFF , 1071px 1202px #FFF , 1168px 503px #FFF , 1173px 1202px #FFF , 1208px 1590px #FFF , 719px 542px #FFF , 1388px 1256px #FFF , 1505px 1102px #FFF , 1165px 1281px #FFF , 816px 1362px #FFF , 1372px 1298px #FFF , 145px 380px #FFF , 1780px 70px #FFF , 298px 1476px #FFF , 1606px 1128px #FFF , 655px 1595px #FFF , 1345px 1858px #FFF , 1783px 304px #FFF , 757px 1286px #FFF , 378px 1996px #FFF , 1509px 480px #FFF , 154px 1731px #FFF , 587px 665px #FFF , 1570px 1148px #FFF , 1359px 1177px #FFF , 1494px 252px #FFF , 370px 71px #FFF , 1952px 409px #FFF , 1946px 995px #FFF , 1019px 1418px #FFF , 1988px 1377px #FFF , 854px 528px #FFF , 1989px 764px #FFF , 1093px 774px #FFF , 1141px 1073px #FFF , 303px 1275px #FFF , 1281px 1170px #FFF , 1208px 355px #FFF , 90px 1731px #FFF , 790px 812px #FFF , 1320px 79px #FFF , 444px 1316px #FFF , 1627px 953px #FFF , 101px 4px #FFF , 1259px 1482px #FFF , 1076px 1545px #FFF , 1661px 894px #FFF , 1820px 1020px #FFF , 643px 1760px #FFF , 1629px 1289px #FFF , 297px 809px #FFF , 1659px 1522px #FFF , 370px 384px #FFF , 854px 1497px #FFF , 939px 1496px #FFF , 1415px 797px #FFF , 364px 1368px #FFF , 201px 1984px #FFF , 922px 1541px #FFF , 1083px 1967px #FFF , 74px 864px #FFF , 1393px 882px #FFF , 506px 107px #FFF , 1304px 1293px #FFF , 314px 1447px #FFF , 46px 890px #FFF , 1771px 1898px #FFF , 766px 1955px #FFF , 92px 882px #FFF , 743px 997px #FFF , 400px 1070px #FFF , 1276px 721px #FFF , 774px 428px #FFF , 1442px 184px #FFF , 1257px 1321px #FFF , 623px 793px #FFF , 1784px 349px #FFF , 885px 1338px #FFF , 907px 525px #FFF , 1015px 923px #FFF , 359px 1051px #FFF , 1967px 1949px #FFF , 1099px 1141px #FFF , 841px 1398px #FFF , 197px 1646px #FFF , 757px 1762px #FFF , 1964px 262px #FFF , 239px 1516px #FFF , 1926px 1259px #FFF , 1478px 112px #FFF , 967px 477px #FFF , 676px 1715px #FFF , 484px 376px #FFF , 1842px 42px #FFF , 286px 1828px #FFF , 277px 697px #FFF , 1132px 1020px #FFF , 80px 635px #FFF , 1027px 1939px #FFF , 834px 1953px #FFF , 1795px 1857px #FFF , 135px 90px #FFF , 1742px 18px #FFF , 1052px 644px #FFF , 940px 330px #FFF , 1167px 817px #FFF , 905px 878px #FFF , 914px 845px #FFF , 1px 989px #FFF , 814px 23px #FFF , 1078px 780px #FFF , 304px 347px #FFF , 880px 342px #FFF , 601px 1578px #FFF , 675px 1632px #FFF , 1576px 784px #FFF , 1210px 1696px #FFF , 1020px 170px #FFF , 240px 462px #FFF , 309px 459px #FFF , 1414px 1316px #FFF , 312px 693px #FFF , 1794px 605px #FFF , 1338px 248px #FFF , 1232px 376px #FFF , 209px 1583px #FFF , 168px 1583px #FFF , 1968px 1468px #FFF , 423px 518px #FFF , 1093px 36px #FFF , 1169px 1753px #FFF , 1034px 1695px #FFF , 441px 676px #FFF , 1524px 1337px #FFF , 1182px 1602px #FFF , 1944px 1939px #FFF , 221px 1928px #FFF , 865px 1229px #FFF , 1075px 64px #FFF , 1348px 1943px #FFF , 582px 1790px #FFF , 988px 1080px #FFF , 902px 251px #FFF , 1524px 1274px #FFF , 460px 1897px #FFF , 837px 943px #FFF , 1450px 731px #FFF , 96px 1613px #FFF , 1488px 1729px #FFF , 166px 839px #FFF , 1801px 113px #FFF , 1139px 1830px #FFF , 1211px 1802px #FFF , 541px 1054px #FFF , 1764px 1694px #FFF , 533px 110px #FFF , 654px 711px #FFF , 1596px 1322px #FFF , 804px 1749px #FFF , 1901px 1373px #FFF , 31px 1121px #FFF , 1521px 475px #FFF , 290px 445px #FFF , 934px 1770px #FFF , 1369px 980px #FFF , 616px 1897px #FFF , 90px 1646px #FFF , 847px 498px #FFF , 538px 1573px #FFF , 57px 743px #FFF , 788px 433px #FFF , 448px 1129px #FFF , 265px 101px #FFF , 172px 1689px #FFF , 906px 1461px #FFF , 627px 603px #FFF , 1578px 1956px #FFF , 846px 1004px #FFF , 1479px 1677px #FFF , 1054px 1638px #FFF , 926px 1886px #FFF , 1640px 901px #FFF , 803px 709px #FFF , 1682px 621px #FFF , 325px 633px #FFF , 987px 866px #FFF , 156px 168px #FFF , 1859px 1331px #FFF , 950px 1952px #FFF , 420px 1670px #FFF , 844px 257px #FFF , 1301px 1170px #FFF , 1089px 1254px #FFF , 1522px 1950px #FFF , 1564px 1518px #FFF , 622px 1056px #FFF , 66px 1840px #FFF , 723px 1316px #FFF , 1930px 1921px #FFF , 635px 1032px #FFF , 1140px 1490px #FFF , 1841px 601px #FFF , 918px 1134px #FFF , 1114px 36px #FFF , 1081px 413px #FFF , 495px 1300px #FFF , 1790px 1816px #FFF , 834px 349px #FFF , 102px 1966px #FFF , 51px 278px #FFF , 834px 1172px #FFF , 1104px 816px #FFF , 258px 1551px #FFF , 804px 395px #FFF , 277px 877px #FFF , 797px 967px #FFF , 225px 641px #FFF , 1135px 1490px #FFF , 282px 1630px #FFF , 1259px 890px #FFF , 1407px 41px #FFF , 1705px 1513px #FFF , 779px 280px #FFF , 1534px 1832px #FFF , 1395px 1493px #FFF , 1299px 651px #FFF , 1220px 480px #FFF , 283px 972px #FFF , 1718px 384px #FFF , 458px 204px #FFF , 1861px 1787px #FFF , 1742px 408px #FFF , 1353px 331px #FFF , 93px 110px #FFF , 869px 1154px #FFF , 1204px 1991px #FFF , 1996px 357px #FFF , 1079px 880px #FFF , 456px 382px #FFF , 103px 28px #FFF , 555px 667px #FFF , 1588px 585px #FFF , 295px 27px #FFF , 1716px 667px #FFF , 1083px 1587px #FFF , 1505px 1142px #FFF , 873px 973px #FFF , 1139px 806px #FFF , 1666px 1735px #FFF , 544px 1258px #FFF , 620px 1623px #FFF , 1086px 1225px #FFF , 884px 1141px #FFF , 32px 1882px #FFF , 1554px 984px #FFF , 1608px 1915px #FFF , 1755px 1352px #FFF , 1063px 153px #FFF , 874px 961px #FFF , 1412px 467px #FFF , 3px 1741px #FFF , 92px 1498px #FFF , 1405px 1941px #FFF , 2px 1322px #FFF , 1840px 1152px #FFF , 1735px 514px #FFF , 1106px 1741px #FFF , 1931px 776px #FFF , 1617px 1651px #FFF , 172px 1861px #FFF , 631px 1757px #FFF , 38px 1144px #FFF , 1343px 493px #FFF , 980px 1342px #FFF , 1809px 876px #FFF , 1220px 1996px #FFF , 1916px 815px #FFF , 967px 1748px #FFF , 1598px 1276px #FFF , 1549px 271px #FFF , 165px 1519px #FFF , 529px 1267px #FFF , 1137px 20px #FFF , 1542px 1605px #FFF , 430px 1867px #FFF , 720px 493px #FFF , 679px 1269px #FFF , 1236px 715px #FFF , 289px 1999px #FFF , 453px 1845px #FFF , 1498px 1598px #FFF , 895px 333px #FFF , 556px 1050px #FFF , 504px 1137px #FFF , 170px 1953px #FFF , 1404px 1789px #FFF , 167px 1017px #FFF , 1676px 1186px #FFF , 726px 145px #FFF , 1725px 777px #FFF , 573px 164px #FFF , 1845px 445px #FFF , 573px 1973px #FFF , 1898px 1724px #FFF , 772px 1286px #FFF , 1949px 1461px #FFF , 156px 184px #FFF , 35px 1084px #FFF , 1241px 1366px #FFF , 964px 1402px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1751px 1401px #FFF , 1575px 442px #FFF , 116px 1281px #FFF , 455px 1552px #FFF , 1875px 752px #FFF , 294px 1442px #FFF , 325px 716px #FFF , 16px 145px #FFF , 573px 1176px #FFF , 1758px 990px #FFF , 1038px 670px #FFF , 1917px 1861px #FFF , 1542px 1850px #FFF , 539px 334px #FFF , 487px 509px #FFF , 83px 544px #FFF , 1841px 375px #FFF , 1860px 557px #FFF , 1209px 57px #FFF , 150px 727px #FFF , 213px 1516px #FFF , 803px 1879px #FFF , 866px 597px #FFF , 906px 494px #FFF , 1092px 205px #FFF , 1124px 581px #FFF , 269px 1889px #FFF , 709px 785px #FFF , 848px 1928px #FFF , 473px 1112px #FFF , 1485px 1840px #FFF , 922px 981px #FFF , 1835px 435px #FFF , 1538px 389px #FFF , 277px 205px #FFF , 1105px 611px #FFF , 1769px 150px #FFF , 1165px 174px #FFF , 1881px 1966px #FFF , 505px 755px #FFF , 828px 221px #FFF , 1981px 1442px #FFF , 429px 1303px #FFF , 424px 1713px #FFF , 300px 1289px #FFF , 1423px 902px #FFF , 1791px 1086px #FFF , 245px 829px #FFF , 1507px 1265px #FFF , 300px 250px #FFF , 1913px 80px #FFF , 912px 1032px #FFF , 1108px 1354px #FFF , 1279px 979px #FFF , 223px 89px #FFF , 391px 888px #FFF , 347px 1292px #FFF , 805px 450px #FFF , 1778px 760px #FFF , 1318px 665px #FFF , 1649px 88px #FFF , 1145px 1588px #FFF , 1614px 446px #FFF , 234px 227px #FFF , 488px 1022px #FFF , 952px 1771px #FFF , 1949px 317px #FFF , 169px 514px #FFF , 1006px 617px #FFF , 858px 1324px #FFF , 1046px 868px #FFF , 731px 1716px #FFF , 1855px 1813px #FFF , 700px 645px #FFF , 1117px 1315px #FFF , 43px 755px #FFF , 597px 1001px #FFF , 1383px 1767px #FFF , 1701px 74px #FFF , 733px 666px #FFF , 108px 521px #FFF , 497px 1453px #FFF , 1671px 1519px #FFF , 330px 1143px #FFF , 646px 1781px #FFF , 1307px 690px #FFF , 343px 315px #FFF , 1725px 1133px #FFF , 288px 1919px #FFF , 1791px 843px #FFF , 415px 638px #FFF , 981px 242px #FFF , 524px 1260px #FFF , 1385px 756px #FFF , 193px 1910px #FFF , 1499px 460px #FFF , 641px 1125px #FFF , 1734px 1190px #FFF , 1653px 1662px #FFF , 198px 720px #FFF , 693px 1287px #FFF , 1785px 1817px #FFF , 1590px 854px #FFF , 855px 1340px #FFF , 450px 1789px #FFF , 11px 820px #FFF , 1648px 1823px #FFF , 525px 431px #FFF , 1541px 1317px #FFF , 1310px 699px #FFF , 1226px 744px #FFF , 1268px 1114px #FFF , 1944px 826px #FFF , 1248px 662px #FFF , 368px 1509px #FFF , 286px 1647px #FFF , 548px 1143px #FFF , 524px 1132px #FFF , 1085px 1556px #FFF , 1321px 868px #FFF , 1230px 1358px #FFF , 230px 653px #FFF , 338px 1705px #FFF , 509px 152px #FFF , 1060px 1165px #FFF , 684px 340px #FFF , 1866px 1316px #FFF , 1025px 383px #FFF , 1888px 1252px #FFF , 1177px 650px #FFF , 1497px 298px #FFF , 509px 717px #FFF , 554px 406px #FFF , 811px 1783px #FFF , 949px 362px #FFF , 309px 1621px #FFF , 41px 926px #FFF , 814px 282px #FFF , 1670px 105px #FFF , 1915px 1575px #FFF , 1623px 864px #FFF , 763px 242px #FFF , 759px 1718px #FFF , 1535px 1006px #FFF , 1341px 1692px #FFF , 592px 1109px #FFF , 1451px 1821px #FFF , 1445px 235px #FFF , 818px 386px #FFF , 1552px 744px #FFF , 325px 1173px #FFF , 1944px 1699px #FFF , 1580px 658px #FFF , 1171px 176px #FFF , 805px 1779px #FFF , 1695px 235px #FFF , 797px 1251px #FFF , 928px 46px #FFF , 1703px 1244px #FFF , 1723px 963px #FFF , 36px 1559px #FFF , 913px 421px #FFF , 1096px 147px #FFF , 1845px 954px #FFF , 375px 1328px #FFF , 431px 358px #FFF , 1961px 700px #FFF , 1446px 784px #FFF , 1301px 1119px #FFF , 897px 1975px #FFF , 114px 66px #FFF , 1670px 1665px #FFF , 237px 146px #FFF , 1489px 1956px #FFF , 452px 422px #FFF , 1286px 823px #FFF , 219px 929px #FFF , 1604px 1514px #FFF , 1396px 715px #FFF , 1090px 492px #FFF , 1776px 1640px #FFF , 13px 714px #FFF , 1215px 966px #FFF , 574px 44px #FFF , 1933px 1218px #FFF , 1855px 1196px #FFF , 1254px 1013px #FFF , 991px 1593px #FFF , 1717px 1755px #FFF , 1450px 861px #FFF , 800px 1047px #FFF , 1049px 1818px #FFF , 1408px 1173px #FFF , 1917px 1770px #FFF , 962px 342px #FFF , 19px 209px #FFF , 1080px 123px #FFF , 1546px 1075px #FFF , 835px 1377px #FFF , 13px 704px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1751px 1401px #FFF , 1575px 442px #FFF , 116px 1281px #FFF , 455px 1552px #FFF , 1875px 752px #FFF , 294px 1442px #FFF , 325px 716px #FFF , 16px 145px #FFF , 573px 1176px #FFF , 1758px 990px #FFF , 1038px 670px #FFF , 1917px 1861px #FFF , 1542px 1850px #FFF , 539px 334px #FFF , 487px 509px #FFF , 83px 544px #FFF , 1841px 375px #FFF , 1860px 557px #FFF , 1209px 57px #FFF , 150px 727px #FFF , 213px 1516px #FFF , 803px 1879px #FFF , 866px 597px #FFF , 906px 494px #FFF , 1092px 205px #FFF , 1124px 581px #FFF , 269px 1889px #FFF , 709px 785px #FFF , 848px 1928px #FFF , 473px 1112px #FFF , 1485px 1840px #FFF , 922px 981px #FFF , 1835px 435px #FFF , 1538px 389px #FFF , 277px 205px #FFF , 1105px 611px #FFF , 1769px 150px #FFF , 1165px 174px #FFF , 1881px 1966px #FFF , 505px 755px #FFF , 828px 221px #FFF , 1981px 1442px #FFF , 429px 1303px #FFF , 424px 1713px #FFF , 300px 1289px #FFF , 1423px 902px #FFF , 1791px 1086px #FFF , 245px 829px #FFF , 1507px 1265px #FFF , 300px 250px #FFF , 1913px 80px #FFF , 912px 1032px #FFF , 1108px 1354px #FFF , 1279px 979px #FFF , 223px 89px #FFF , 391px 888px #FFF , 347px 1292px #FFF , 805px 450px #FFF , 1778px 760px #FFF , 1318px 665px #FFF , 1649px 88px #FFF , 1145px 1588px #FFF , 1614px 446px #FFF , 234px 227px #FFF , 488px 1022px #FFF , 952px 1771px #FFF , 1949px 317px #FFF , 169px 514px #FFF , 1006px 617px #FFF , 858px 1324px #FFF , 1046px 868px #FFF , 731px 1716px #FFF , 1855px 1813px #FFF , 700px 645px #FFF , 1117px 1315px #FFF , 43px 755px #FFF , 597px 1001px #FFF , 1383px 1767px #FFF , 1701px 74px #FFF , 733px 666px #FFF , 108px 521px #FFF , 497px 1453px #FFF , 1671px 1519px #FFF , 330px 1143px #FFF , 646px 1781px #FFF , 1307px 690px #FFF , 343px 315px #FFF , 1725px 1133px #FFF , 288px 1919px #FFF , 1791px 843px #FFF , 415px 638px #FFF , 981px 242px #FFF , 524px 1260px #FFF , 1385px 756px #FFF , 193px 1910px #FFF , 1499px 460px #FFF , 641px 1125px #FFF , 1734px 1190px #FFF , 1653px 1662px #FFF , 198px 720px #FFF , 693px 1287px #FFF , 1785px 1817px #FFF , 1590px 854px #FFF , 855px 1340px #FFF , 450px 1789px #FFF , 11px 820px #FFF , 1648px 1823px #FFF , 525px 431px #FFF , 1541px 1317px #FFF , 1310px 699px #FFF , 1226px 744px #FFF , 1268px 1114px #FFF , 1944px 826px #FFF , 1248px 662px #FFF , 368px 1509px #FFF , 286px 1647px #FFF , 548px 1143px #FFF , 524px 1132px #FFF , 1085px 1556px #FFF , 1321px 868px #FFF , 1230px 1358px #FFF , 230px 653px #FFF , 338px 1705px #FFF , 509px 152px #FFF , 1060px 1165px #FFF , 684px 340px #FFF , 1866px 1316px #FFF , 1025px 383px #FFF , 1888px 1252px #FFF , 1177px 650px #FFF , 1497px 298px #FFF , 509px 717px #FFF , 554px 406px #FFF , 811px 1783px #FFF , 949px 362px #FFF , 309px 1621px #FFF , 41px 926px #FFF , 814px 282px #FFF , 1670px 105px #FFF , 1915px 1575px #FFF , 1623px 864px #FFF , 763px 242px #FFF , 759px 1718px #FFF , 1535px 1006px #FFF , 1341px 1692px #FFF , 592px 1109px #FFF , 1451px 1821px #FFF , 1445px 235px #FFF , 818px 386px #FFF , 1552px 744px #FFF , 325px 1173px #FFF , 1944px 1699px #FFF , 1580px 658px #FFF , 1171px 176px #FFF , 805px 1779px #FFF , 1695px 235px #FFF , 797px 1251px #FFF , 928px 46px #FFF , 1703px 1244px #FFF , 1723px 963px #FFF , 36px 1559px #FFF , 913px 421px #FFF , 1096px 147px #FFF , 1845px 954px #FFF , 375px 1328px #FFF , 431px 358px #FFF , 1961px 700px #FFF , 1446px 784px #FFF , 1301px 1119px #FFF , 897px 1975px #FFF , 114px 66px #FFF , 1670px 1665px #FFF , 237px 146px #FFF , 1489px 1956px #FFF , 452px 422px #FFF , 1286px 823px #FFF , 219px 929px #FFF , 1604px 1514px #FFF , 1396px 715px #FFF , 1090px 492px #FFF , 1776px 1640px #FFF , 13px 714px #FFF , 1215px 966px #FFF , 574px 44px #FFF , 1933px 1218px #FFF , 1855px 1196px #FFF , 1254px 1013px #FFF , 991px 1593px #FFF , 1717px 1755px #FFF , 1450px 861px #FFF , 800px 1047px #FFF , 1049px 1818px #FFF , 1408px 1173px #FFF , 1917px 1770px #FFF , 962px 342px #FFF , 19px 209px #FFF , 1080px 123px #FFF , 1546px 1075px #FFF , 835px 1377px #FFF , 13px 704px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 609px 1px #FFF , 245px 1391px #FFF , 2px 374px #FFF , 1529px 1726px #FFF , 728px 228px #FFF , 1877px 1023px #FFF , 655px 930px #FFF , 739px 85px #FFF , 1791px 392px #FFF , 561px 1660px #FFF , 1299px 1361px #FFF , 926px 1712px #FFF , 972px 1368px #FFF , 1855px 1269px #FFF , 642px 1243px #FFF , 1468px 1695px #FFF , 940px 1044px #FFF , 1731px 413px #FFF , 118px 350px #FFF , 840px 696px #FFF , 217px 1814px #FFF , 770px 1344px #FFF , 226px 269px #FFF , 1608px 1681px #FFF , 270px 1055px #FFF , 270px 549px #FFF , 1161px 32px #FFF , 1073px 1929px #FFF , 1253px 538px #FFF , 1314px 794px #FFF , 1717px 1036px #FFF , 1029px 1698px #FFF , 1845px 1156px #FFF , 833px 1735px #FFF , 1584px 342px #FFF , 1087px 1977px #FFF , 1142px 1996px #FFF , 1236px 1498px #FFF , 1095px 737px #FFF , 1332px 1298px #FFF , 665px 214px #FFF , 705px 208px #FFF , 1487px 488px #FFF , 1535px 1023px #FFF , 653px 1626px #FFF , 118px 1955px #FFF , 1178px 1107px #FFF , 540px 1628px #FFF , 576px 917px #FFF , 120px 1278px #FFF , 1675px 1989px #FFF , 1002px 965px #FFF , 1601px 1551px #FFF , 586px 863px #FFF , 1104px 232px #FFF , 490px 354px #FFF , 247px 1299px #FFF , 1217px 592px #FFF , 1739px 1971px #FFF , 1338px 842px #FFF , 1610px 1998px #FFF , 1247px 1242px #FFF , 1764px 409px #FFF , 135px 99px #FFF , 1560px 539px #FFF , 711px 612px #FFF , 1820px 1424px #FFF , 733px 1871px #FFF , 955px 1887px #FFF , 847px 1220px #FFF , 671px 844px #FFF , 290px 135px #FFF , 1292px 706px #FFF , 1197px 503px #FFF , 148px 1477px #FFF , 1px 52px #FFF , 993px 1284px #FFF , 1277px 1735px #FFF , 1195px 1927px #FFF , 862px 694px #FFF , 845px 1594px #FFF , 154px 1626px #FFF , 1160px 1115px #FFF , 1518px 1310px #FFF , 551px 1268px #FFF , 1115px 1739px #FFF , 768px 1963px #FFF , 1172px 212px #FFF , 596px 1116px #FFF , 1550px 1299px #FFF , 1163px 668px #FFF , 960px 156px #FFF , 1218px 1201px #FFF , 949px 1633px #FFF , 1102px 815px #FFF , 1050px 764px #FFF , 1784px 466px #FFF , 1482px 1451px #FFF , 933px 210px #FFF , 1273px 438px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 609px 1px #FFF , 245px 1391px #FFF , 2px 374px #FFF , 1529px 1726px #FFF , 728px 228px #FFF , 1877px 1023px #FFF , 655px 930px #FFF , 739px 85px #FFF , 1791px 392px #FFF , 561px 1660px #FFF , 1299px 1361px #FFF , 926px 1712px #FFF , 972px 1368px #FFF , 1855px 1269px #FFF , 642px 1243px #FFF , 1468px 1695px #FFF , 940px 1044px #FFF , 1731px 413px #FFF , 118px 350px #FFF , 840px 696px #FFF , 217px 1814px #FFF , 770px 1344px #FFF , 226px 269px #FFF , 1608px 1681px #FFF , 270px 1055px #FFF , 270px 549px #FFF , 1161px 32px #FFF , 1073px 1929px #FFF , 1253px 538px #FFF , 1314px 794px #FFF , 1717px 1036px #FFF , 1029px 1698px #FFF , 1845px 1156px #FFF , 833px 1735px #FFF , 1584px 342px #FFF , 1087px 1977px #FFF , 1142px 1996px #FFF , 1236px 1498px #FFF , 1095px 737px #FFF , 1332px 1298px #FFF , 665px 214px #FFF , 705px 208px #FFF , 1487px 488px #FFF , 1535px 1023px #FFF , 653px 1626px #FFF , 118px 1955px #FFF , 1178px 1107px #FFF , 540px 1628px #FFF , 576px 917px #FFF , 120px 1278px #FFF , 1675px 1989px #FFF , 1002px 965px #FFF , 1601px 1551px #FFF , 586px 863px #FFF , 1104px 232px #FFF , 490px 354px #FFF , 247px 1299px #FFF , 1217px 592px #FFF , 1739px 1971px #FFF , 1338px 842px #FFF , 1610px 1998px #FFF , 1247px 1242px #FFF , 1764px 409px #FFF , 135px 99px #FFF , 1560px 539px #FFF , 711px 612px #FFF , 1820px 1424px #FFF , 733px 1871px #FFF , 955px 1887px #FFF , 847px 1220px #FFF , 671px 844px #FFF , 290px 135px #FFF , 1292px 706px #FFF , 1197px 503px #FFF , 148px 1477px #FFF , 1px 52px #FFF , 993px 1284px #FFF , 1277px 1735px #FFF , 1195px 1927px #FFF , 862px 694px #FFF , 845px 1594px #FFF , 154px 1626px #FFF , 1160px 1115px #FFF , 1518px 1310px #FFF , 551px 1268px #FFF , 1115px 1739px #FFF , 768px 1963px #FFF , 1172px 212px #FFF , 596px 1116px #FFF , 1550px 1299px #FFF , 1163px 668px #FFF , 960px 156px #FFF , 1218px 1201px #FFF , 949px 1633px #FFF , 1102px 815px #FFF , 1050px 764px #FFF , 1784px 466px #FFF , 1482px 1451px #FFF , 933px 210px #FFF , 1273px 438px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
footer {
  text-align: center;
  font-size: 0.8em;
  color: white;
}

header {
  padding-top: 35vh;
}

header > .row {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: flex;
}
header > .row .column-content {
  flex: auto;
}
header > .row #name {
  font-size: 30px;
}
header > .row #personal_info {
  padding-bottom: 10px;
  text-align: center;
}
header > .row #personal_info p {
  padding-left: 20%;
  padding-right: 20%;
}
header > .row #contact {
  margin-left: 0px;
  margin-right: 20px;
}
header > .row #list-contacts {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
header > .row #list-contacts a:first-child,
header > .row #list-contacts a:last-child {
  margin: auto;
}
header > .row #list-contacts a img {
  height: 30px;
  width: 30px;
  transition: all 0.5s ease;
  opacity: 1;
}
header > .row #list-contacts a img:hover {
  transform: translateX(15px) rotate(360deg);
}

section {
  height: fit-content;
}
section .cell {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: white;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  border: none;
  width: 100%;
  height: 100px;
  border-radius: 10px;
}
section .cell:hover {
  transform: scale(1.04);
  border: none;
}
section .cell:hover div {
  font-size: 110%;
  transform: scale(0.96);
}
section .wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
section .wrapper .title {
  padding: 10px;
  width: fit-content;
  color: white;
  background-color: #1b2735;
  backdrop-filter: blur(40px);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#experience > .row {
  padding-top: 10px;
  height: 100%;
}
#experience > .row .cell {
  color: rgba(0, 0, 0, 0.8);
}

.timeline {
  height: 100%;
}

#content_timeline {
  height: 100%;
}
#content_timeline .column {
  width: 100%;
  height: 100%;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#jobs .cell:hover #time,
#jobs .cell:hover h3 {
  color: #1b2735;
  transform: scale(1.1);
  font-weight: 900;
}

#studies .cell:hover #important,
#studies .cell:hover h3 {
  color: #1b2735;
  transform: scale(1.1);
  font-weight: 900;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 15px;
}
.grid .cell {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}
.grid .cell div {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  border-radius: 10px;
}

#this_portfolio {
  background-image: url("../assets/projects/portfolio2021.png");
}

#photoshare {
  background-image: url("../assets/projects/photoshare.png");
}

#covid_app {
  background-image: url("../assets/projects/covid_mobile_app.png");
}

#flappy_bird_ai {
  background-image: url("../assets/projects/flappy_bird.png");
}

#influx_monitoring {
  background-image: url("../assets/projects/influx_monitoring.png");
}

#music_events_webapp {
  background-image: url("../assets/projects/music_events.png");
}

#music_events_rest_api {
  background-image: url("../assets/projects/music_events_rest_api.png");
}

#ftask_mobile_app {
  background-image: url("../assets/projects/ftask.png");
}

#game_of_life {
  background-image: url("../assets/projects/game_of_life.png");
}

#parser_programming_language {
  background-image: url("../assets/projects/own_programming_language.png");
}

#celery_scapper {
  background-image: url("../assets/projects/celery_twitter_scrapper.png");
}

#todoist_clone {
  background-image: url("../assets/projects/todoist.png");
}

#mushsnap {
  background-image: url("../assets/projects/mushsnap.png");
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1500px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }

  #site-content {
    padding-left: 15%;
    padding-right: 15%;
  }

  #experience > .row {
    display: contents;
  }
  #experience > .row div > #jobs {
    margin-top: 10px;
  }
}
@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 650px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #site-content {
    padding-left: 5%;
    padding-right: 5%;
  }

  #content_timeline .row {
    display: flex;
    flex-direction: column;
  }
  #content_timeline .column {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
  }
}
@media (max-width: 400px) {
  header > .row {
    display: flex;
    flex-direction: column;
  }
  header > .row #contact {
    margin: 0;
  }
  header > .row #contact #list-contacts {
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
  }
}
@media (max-width: 300px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  #site-content {
    padding-left: 1%;
    padding-right: 1%;
  }
}

/*# sourceMappingURL=main.css.map */
