
body {
    margin: 0%;
}

#site-content {
    padding-left: 20%;
    padding-right: 20%;
}

header {
    padding-top: 50px;
}


#background-image {
    z-index: -1;
    position: absolute;
    background-image: url("../assets/header-background.jpg");
    background-size: cover;
    opacity: 0.6;
    width: 100vw;
    height: 100vh;
    margin: 0%;
}

footer {
    text-align: center;
    color: white;
}

section {
    height: 30vh;
}


.row {
    display: flex;
}

.column-20 {
    flex: 20%;
}

.column-80 {
    flex: 80%;
}

.column-50 {
    flex: 50%;
}

.column {
    flex: auto;
}

#personal_info {
    background-color: aqua;
}

#contact {
    background-color: aquamarine;
}

#experience {
    /* background-color: blue; */
}

#projects {
    background-color: red;
}

.grid {
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
}

.grid > div {
    background-color: aquamarine;
    width: 100%;
    height: 100%;

    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    
    /* margin-left: 1px;
    margin-right: 1px; */
}


#name {
    font-size: 24px;
}

#personal_info {
    text-align: center;
}

#experience > .row {
    height: 100%;
}

.timeline {
    height: 100%;
    background-color: aquamarine;
}

#content_timeline{
    display: grid;
}

#content_timeline > .row > .column {
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    margin-left: 1px;
    margin-right: 1px;
    background-color: aquamarine;
}



#top_timeline {
    text-align: center;
}



@media (max-width: 1200px) {
    .grid {
      grid-template-columns: repeat(6, 1fr);
    }

    #site-content {
        padding-left: 15%;
        padding-right: 15%;
    }
}


@media (max-width: 750px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }

    #experience > .row {
        display:contents;
    }

    section {
        height: 100%;
    }

}


@media (max-width: 500px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }

    #site-content {
        padding-left: 5%;
        padding-right: 5%;
    }
}

