@media (max-width: 1500px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }

  #site-content {
    padding-left: 15%;
    padding-right: 15%;
  }

  #experience > .row {
    display: contents;

    div > #jobs {
      margin-top: 10px;
    }
  }
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 650px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #site-content {
    padding-left: 5%;
    padding-right: 5%;
  }

  #content_timeline {
    .cell {
      width: 70%;
    }

    .row {
      display: flex;
      flex-direction: column;
    }

    .column {
      margin: 0px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 400px) {
  header > .row {
    display: flex;
    flex-direction: column;

    #contact {
      margin: 0;
      #list-contacts {
        justify-content: center;
        flex-direction: row;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 300px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  #site-content {
    padding-left: 1%;
    padding-right: 1%;
  }
}
