body {
  font-family: $font-main;
  margin: 0%;
  background-image: url("../assets/background-small.jpg");
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(3px);
}

#site-content {
  padding-left: 20%;
  padding-right: 20%;
}
