

body {
  margin: 0%;
  background-image: url("../assets/background.jpg");
  background-position: top center 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#site-content {
  padding-left: 20%;
  padding-right: 20%;
}

