$border-radius: 5px;

header {
  padding-top: 400px;
}

header > .row > div {
  background-color: $white-with-opacity;
  border: 1px solid rgb(209, 209, 209);
  border-radius: $border-radius;
}

#personal_info {
  margin-right: 2px;
  text-align: center;
}

#personal_info > p {
  padding-left: 20%;
  padding-right: 20%;
}

#contact {
  margin-left: 2px;
  background-color: initial;
  border: initial;
}

#list-contacts {
  align-items: center;
  position: relative;
  padding-top: 10px;

  a {
    text-align: 20%;

    img {
      height: 30px;
      width: 30px;
      transition: all 0.5s ease;
      opacity: 1;

      &:hover {
        transform: translateX(15px) rotate(360deg);
      }
    }
  }
}

#name {
  font-size: 24px;
}
