header {
  padding-top: 35vh;
}

header > .row {
  background-color: $white-with-opacity;
  border: 1px solid rgb(209, 209, 209);
  border-radius: $border-radius;

  .column-content {
    flex: auto;
  }

  #name {
    font-size: 30px;
  }

  #personal_info {
    padding-bottom: 10px;
    text-align: center;

    p {
      padding-left: 20%;
      padding-right: 20%;
    }
  }

  #contact {
    margin-left: 0px;
    margin-right: 20px;
  }

  #list-contacts {
    align-items: center;
    position: relative;
    padding-top: 10px;

    a {
      text-align: 20%;

      img {
        height: 30px;
        width: 30px;
        transition: all 0.5s ease;
        opacity: 1;

        &:hover {
          transform: translateX(15px) rotate(360deg);
        }
      }
    }
  }
}
