
header {
  padding-top: 50px;
}

header > .row {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

#personal_info {
  font-weight: bold;
  text-align: center;
}

#contact {
  background-color: rgba(206, 206, 206, 0.788);   
}

#name {
  font-size: 24px;
}
