#experience > .row {
  padding-top: 10px;
  height: 100%;
}

.timeline {
  height: 100%;
}

#content_timeline {
  height: 100%;

  .column {
    width: 100%;
    height: 100%;

    margin: 5px;

    $padding-sides: 10px;
    padding-left: $padding-sides;
    padding-right: $padding-sides;

    text-align: center;
  }
}
