#experience > .row {
  padding-top: 10px;
  height: 100%;

  .cell {
    color: rgba(0, 0, 0, 0.8);
  }
}

.timeline {
  height: 100%;
}

#content_timeline {
  height: 100%;

  .column {
    width: 100%;
    height: 100%;

    margin: 5px;

    $padding-sides: 10px;
    padding-left: $padding-sides;
    padding-right: $padding-sides;

    text-align: center;
  }
}

#jobs {
  .cell:hover {
    #time,
    h3 {
      color: $primary-color;
      transform: scale(1.1);
      font-weight: 900;
    }
  }
}

#studies {
  .cell:hover {
    #important,
    h3 {
      color: $primary-color;
      transform: scale(1.1);
      font-weight: 900;
    }
  }
}
