
#experience > .row {
  padding-top: 10px;
  height: 100%;
  background-color: aquamarine;
}

.timeline {
  height: 100%;
}


#content_timeline{
  display: grid;
  height: 80%;
}

#content_timeline > .row > .column {
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  margin-left: 1px;
  margin-right: 1px;
  background-color: aquamarine;
}



#top_timeline {
  height: 10%;
  text-align: center;
}
