section {
  height: fit-content;

  .cell:hover {
    background-color: #ddd;
  }

  .cell:last-child:hover {
    background-color: $white-with-opacity;
  }

  .title {
    text-align: center;
    color: white;
  }
}
